.icons__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .icons__grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.icon__icon {
    text-align: center;
}

.icon__title {
    margin: 0;
}

.icon__img {
    width: 90%;
}